* {
  text-align: center;
  color: lightgray;
}

h1,
h2,
h3,
h4,
header,
footer {
  font-family: 'Kaushan Script', cursive;
  text-shadow: -1px 0 darkblue, 0 1px darkblue, 1px 0 darkblue, 0 -1px darkblue;
}

h1 {
  font-size: 350%;
}

header,
footer {
  width: 100%;
  min-height: 100px;
  max-height: 200px;
  background-color: white;
}

.main {
  background-image: url(../img/bg.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed; 
}

footer p {
  padding-top: 25px;
  font-size: 150%;
}