* {
  text-align: center;
  color: darkslategray;
}

h1,
h2,
h3,
h4,
header,
footer {
  font-family: 'Kaushan Script', cursive;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

h1 {
  font-size: 400%;
  font-weight: bold;
}

header,
footer {
  width: 100%;
  min-height: 100px;
  max-height: 200px;
  background-color: white;
}

#main {
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 15px;
  min-height: 300px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

footer p {
  padding-top: 25px;
  font-size: 150%;
}

.choice {
  border: 1px solid black;
  padding: 7px;
  margin: 7px;
  background-color: white;
  color: black;
}

.choice:hover {
  border-color: gold;
  background-color: lightgray;
}

.choice:active {
  border-color: #dfb200;
  background-color: gold;
}

#board {
  padding: 20px;
  margin: 20px;
  /*border-left: 1px solid lightgray;
  border-right: 1px solid lightgray; */
}

.correct,
.correct:hover,
.correct:active {
  background-color: green;
}


.incorrect,
.incorrect:hover,
.incorrect:active {
  background-color: red;
}

.missedGuess {
  border: 3px solid green;
  color: green;
  font-weight: bold;
  padding: 5px;
}

.boardBg {
  background-image: url(../img/bg.png);
  background-repeat: repeat;
  background-attachment: fixed; 
}

.boardCorrect{
  background: rgba(0,255,0,.5)
  background: -webkit-radial-gradient(rgba(0,255,0,0.5), rgba(0,255,0,0)), url(../img/bg.png), repeat, fixed;
  background: -o-radial-gradient(rgba(0,255,0,0.5), rgba(0,255,0,0)), url(../img/bg.png), repeat, fixed; 
  background: -moz-radial-gradient(rgba(0,255,0,0.5), rgba(0,255,0,0)), url(../img/bg.png), repeat, fixed;
  background: radial-gradient(rgba(0,255,0,0.5), rgba(0,255,0,0)), url(../img/bg.png), repeat, fixed; 
}

.boardWrong{
  background: rgba(255,0,0,.5); 
  background: -webkit-radial-gradient(rgba(255,0,0,0.5), rgba(255,0,0,0)), url(../img/bg.png), repeat, fixed; 
  background: -o-radial-gradient(rgba(255,0,0,0.5), rgba(255,0,0,0)), url(../img/bg.png), repeat, fixed; 
  background: -moz-radial-gradient(rgba(255,0,0,0.5), rgba(255,0,0,0)), url(../img/bg.png), repeat, fixed; 
  background: radial-gradient(rgba(255,0,0,0.5), rgba(255,0,0,0)), url(../img/bg.png), repeat, fixed; 
}

